<!--%= form_for :topic, url: topics_path do |f| %-->

<%= form_for(@topic) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit 'Save this topic.' %>
  </div>
<% end %>



<!--Hands-on Try # 2 -->
<!-- %= form_for :topic, url: topics_path do |f| %-->

<!--Hands-on Try # 3 -->
<!-- %= form_for(@topic) do |f| % -->
